<div class="dashboard-container">
    <div class="dashboard-header">
        <div class="dashboard-title">
            <h1>Dashboard</h1>
        </div>
        <div class="dashboard-datetime">
            {{ currentDate() }} | {{ currentTime() }} WIB
        </div>
    </div>

    <div class="dashboard-overall">
        <div class="dashboard-summary summary-total">
            <div class="card-row card-header">Total Aset</div>
            <div class="card-row card-body">Value</div>
            <div class="card-row card-footer">Jumlah seluruh aset terpantau</div>
        </div>

        <div class="dashboard-summary summary-critical">
            <div class="card-row card-header">Kritis</div>
            <div class="card-row card-body">Value</div>
            <div class="card-row card-footer">Prioritas utama untuk tindakan segera</div>
        </div>

        <div class="dashboard-summary summary-major">
            <div class="card-row card-header">Mayor</div>
            <div class="card-row card-body">Value</div>
            <div class="card-row card-footer">Perbaikan menyeluruh dalam waktu dekat</div>
        </div>

        <div class="dashboard-summary summary-minor">
            <div class="card-row card-header">Minor</div>
            <div class="card-row card-body">Value</div>
            <div class="card-row card-footer">Inspeksi lanjutan & pemeliharaan ringan</div>
        </div>

        <div class="dashboard-summary summary-routine">
            <div class="card-row card-header">Rutin</div>
            <div class="card-row card-body">Value</div>
            <div class="card-row card-footer">Pemeliharaan rutin sesuai jadwal</div>
        </div>
    </div>

    <div class="dashboard-row row-3">
        <router-outlet></router-outlet>
    </div>
</div>